[mcu adxl]
# find with ls -l /dev/serial/by-id/
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434041850351C-if00

[adxl345]
cs_pin: adxl:gpio9
spi_bus: spi1_gpio8_gpio11_gpio10
# No idea what is correct order
#axes_map: y,z,x # for accelerometer on printhead
axes_map: y,x,z # for accelerometer on the front of printbed

[resonance_tester]
accel_chip: adxl345
probe_points:
    110,110,20

[output_pin power_mode] # Improve power stability
pin: adxl:gpio23
